---
layout: default
---

<ul class="post-list">
{% for post in paginator.posts %}
  <li>
    <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; 이전</a>
  {% else %}
    <span class="disabled">&larr; 이전</span>
  {% endif %}

  <span class="page-info">{{ paginator.page }} / {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">다음 &rarr;</a>
  {% else %}
    <span class="disabled">다음 &rarr;</span>
  {% endif %}
</nav>
{% endif %}
